body {
  font-size: 100%;
}

.flex-container-head {
  display: flex;
  align-items: stretch;
}

.header-left {
  display: flex;
  margin-right: auto
}

.header-right {
  display: flex;
}

.header-margin {
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
}

.top-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
}

.mid-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
}

.bottom-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search {
  margin-left: 5px;
}

#Boogle {
  font-family: "Delius Unicase";
  font-size: 3.5em;
}

#search-link {
  position: relative;
  bottom: 25px;
  left: 100px;
}

#search-bar {
  border-color: black;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  bottom: 25px;
  left: 90px;
}

#Boogle-Search {
  font-family: "Delius Unicase";
  background-color: white;
  border-color: black;
  box-shadow: 2px 2px;
  position: relative;
  top: 145px;
}

#I\'m-Feeling-Lucky {
  font-family: "Delius Unicase";
  background-color: white;
  border-color: black;
  box-shadow: 2px 2px;
  position: relative;
  top: 145px;
}

.home-footer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  top: 400px;
  left: 40px;
}

.footer-margin {
  margin-right: 5px;
  margin-left: 5px;
}

#watermark {
  position: relative;
  top: 25px;
  right: 250px;
}

#product-page {
  design: flex;
}

#product-column {
  font-family: 'Offside';
}

#video-column {
}

#buy-button {
  background-color: white;
  border-color: black;
  box-shadow: 2px 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#container {
  border: 1px solid black;
  background-color: silver;
  display: grid;
  grid-template-columns: 10% 30% 60%;
  grid-template-rows: repeat(11, 1fr);
  grid-template-areas:
    "mockupsMain header header"
    "mockupsMain scrollColumn main"
    "mockupboxes1 scrollColumn main"
    "mockups1 scrollColumn main"
    "mockupboxes2 scrollColumn main"
    "mockups2 scrollColumn main"
    "mockupboxes3 scrollColumn main"
    "mockups3 scrollColumn main"
    "mockupboxes4 scrollColumn main"
    "mockups4 scrollColumn main"
    "end footer footer"
}

#column-page-header {
  background-color: black;
  grid-area: header;
}

#column-page-footer {
  background-color: silver;
  border: 1px solid black;
  grid-area: footer;
}

#mockups-header {
  grid-area: mockupsMain;
  align-self: end;
}

.boxes {
  height: 50px;
  width: 100px;
  border: 1px solid black;
  background-color: red;
}

#box1 {
  grid-area: mockupboxes1;
}

#mockup-name1 {
  grid-area: mockups1;
}

#box2 {
  grid-area: mockupboxes2;
}

#mockup-name2 {
  grid-area: mockups2;
}

#box3 {
  grid-area: mockupboxes3;
}

#mockup-name3 {
  grid-area: mockups3;
}

#box4 {
  grid-area: mockupboxes4;
}

#mockup-name4 {
  grid-area: mockups4;
}

#column2 {
  grid-area: scrollColumn;
  overflow: auto;
  border: 1px solid black;
  background-color: silver;
}

#column3 {
  grid-area: main;
  border: 1px solid black;
  background-color: white;
}
